html {
    height: 100%;
}
body {
    background-image: url('../../media/homepage_background_cropped.jpg');
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from bluma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
  }

.logo-font {
    text-transform: uppercase;
}

.main-log-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000;
}

.border-black {
    border: 1px solid black;
}


/* ----------------media query */

/* slightly larger container on xl screen */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and above */

@media (min-width: 992px) {

    .header-container {
        padding-top: 164px;
    }
}