html {
    height: 100%;
}
body {
    background-image: url('../../media/homepage_background_cropped.jpg');
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from bluma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
  }

.logo-font {
    text-transform: uppercase;
}

.main-log-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black;
    border: 1px solid black;
}

.bg-black {
    background: black;
}
.btt-btn {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
    position: fixed;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529;
    color: #fff;
}


.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000;
}

.border-black {
    border: 1px solid black;
}


/* ----------------media query */

/* slightly larger container on xl screen */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and above */

@media (min-width: 992px) {

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width:992px ) {
    .header-container {
        padding-top: 116px;
    }
    body {
        height: calc(100vh - 116px);
    }

}